<section>
    <h2>The Purpose</h2>

    <p>I created this page for three reasons.</p>
    <ol>
        <li>I own the domain, so I figure I should put something here...</li>
        <li>I like having an internet presence outside of social networking.</li>
        <li>I wanted a "sandbox" for playing with web technologies that intrigue me.</li>
    </ol>
</section>

<section>
    <h2>The Stack</h2>

    <p>
        Though the content may not change much, the technology behind this site is constantly in flux. I am always
        finding new things to play with, and fun ways to incorporate them into this site. I thought I would take a
        moment to talk about the technologies in use. All of them are open source, and all of them are awesome.
    </p>

    <div class="technology">
        <h3><a href="http://getbootstrap.com/">Bootstrap</a></h3>

        <p>
            Bootstrap is a front end web framework. I use it for its powerful layout capabilities and responsive CSS.
            Layout in HTML can be a very tricky enterprise. You end up re-inventing the wheel every time. Bootstrap
            provides a robust framework to build on. Through a combination of CSS and JavaScript, Bootstrap provides a
            collection of components and styles for you to use. It is highly customizable as well, and heavily used
            across the web. As a bonus, the default style is actually pretty good. I'm not a designer and I generally
            find messing with color palettes tedious. Having a good style readily available is a definite plus for me.
        </p>
    </div>

    <div class="technology">
        <h3><a href="http://angularjs.org">AngularJS</a></h3>

        <div class="technology-logo"><img src="img/AngularJS-small.png" height="61" width="238" alt="AngularJS Logo">
        </div>
        <p>
            AngularJS is a client-side, JavaScript based MVC framework. It is the most recent addition to this site. I
            began using it after getting the idea to pull blog posts from a buddy of mine. Pulling dynamic content
            really drove the need for a template system. Due to hosting limitations (it's a free site...), the templates
            would have to be client side. I have used <a href="http://handlebarsjs.com/">Handlebars</a> for work, so I
            have some experience with it. This site is so simple, I could easily make due with simple template engine
            like Handlebars, but where's the fun in that? :) What I really wanted was an MVC framework for partial views
            and dynamic content. Enter AngularJS.
        </p>
    </div>

    <div class="technology">
        <h3><a href="http://typescriptlang.org">TypeScript</a></h3>

        <p>
            TypeScript is a language extension for JavaScript, designed for full scale applications. As a professional
            .NET programmer, I spend a great deal of time in the world of C#.NET. As a language, it is very mature, full
            featured, and robust. When combined with Microsoft's development stack, it is a difficult combination to
            beat (in my humble opinion). On the other end of the spectrum, JavaScript is none of these things. That
            said, what it lacks in rigor, it makes up in flexibility and ubiquity. TypeScript was created atop of
            JavaScript (superset), and compiles to JavaScript. The intention being to retain the flexibility and
            ubiquity of JavaScript, while bringing a bit of rigor from the world of compiled languages. The key things
            for me are type safety and namespace management. I think it is indispensable for maintaining a JavaScript
            codebase of any decent size.
        </p>
    </div>

    <div class="technology">
        <h3><a href="http://lesscss.org/">Less</a></h3>

        <div class="technology-logo"><img src="img/less.png" height="81" width="199" alt="LESS Logo"></div>
        <p>
            Less is a CSS pre-processor that adds many features to CSS to help you produce CSS that is more maintainable
            and extensible. I have had the same CSS problem with every site that I have ever produced: organization.
            Organization is a key part of writing maintainable CSS. CSS uses selectors that are hierarchical, yet CSS
            itself is flat. This disconnect has always resulted in my CSS becoming broken and scattered, no matter how
            hard I tried to avoid it. Less fixes that! It also adds a number of great features, such as variables,
            arithmetic, and mix-ins (like CSS functions) that help to maintain CSS. The CSS for this page is tiny, even
            so Less still adds value.
        </p>
    </div>

    <div class="technology">
        <h3><a href="http://jquery.com">jQuery</a></h3>

        <div class="technology-logo"><img src="img/jQuery-Logo.png" height="60" width="237" alt="jQuery logo"></div>
        <p>
            jQuery is a JavaScript library for DOM manipulation, Ajax queries, and numerous other things. I'm not sure
            you can even create a modern web page without jQuery...
        </p>
    </div>

    <div class="technology">
        <h3><a href="http://requirejs.org/">RequireJS</a></h3>

        <p>
            RequireJS is an asynchronous loader for Javascript modules. It can improve page load speeds by loading
            multiple Javascript files in parallel. While a decrease in page load time is a nice boon to users, I think
            it really shines in dependency resolution. Although Javascript is often used as a programming language, it
            still handles dependencies like a scripting language (i.e. it doesn't...). Even on this simple web site, I
            messed up the load order on the first try. Once correct, I broke it more than once while moving things
            around. I brought in RequireJS so I wouldn't have to deal with that anymore. Now I just define my
            dependencies in whatever order I please and RequireJS figures the rest out for me.
        </p>
    </div>


</section>

<section>
    <h2>The Source</h2>

    <p>
        This page is open source, and available on GitHub. You can view/download/clone/fork the source from <a
            href="https://github.com/kburdett/kburdett.github.io">my GitHub repository</a>.
    </p>
</section>

<section>
    <h2>The License</h2>

    <pre>
        The MIT License (MIT)

        Copyright (c) 2014 Kevin Burdett

        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all
        copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        SOFTWARE.
    </pre>
</section>