<h2>Aiken</h2>

<div id="aiken-portrait">
    <img class="img-thumbnail" src="assets/aiken.jpg" alt="Aiken" width="320" height="200">
</div>
<p>In February of 2013, I adopted my Greyhound, Aiken. As with most decisions in my life, I began my dog search
    with Google. A search for good apartment dogs led me to Greyhounds. This surprised me at first. I always
    assumed they were high energy dogs. They are bred for running, after all. In truth, Greyhounds are bred for
    <em>sprinting</em>, which is an important distinction. They are prone to short bursts of energy followed by
    hours (many hours...) of lounging. I was looking for a dog that was quiet, low maintenance, and gentle.
    Greyhounds seemed to fit the bill nicely, so I thought it worth meeting some. I headed over to <a
            href="http://www.greyhounds2.org/">Adopt a Greyhound Atlanta</a> to meet some. I fell in love with
    the breed immediately. It is impossible to resist their gentle nature and those big, expressive eyes. I met
    a few, but Aiken took to one another quickly. He was just what I was looking for, so I took him home. Having
    a dog around has been quite a change for me. He has adjusted to being a house pet pretty quickly, much more
    quickly than I have adjusted to having one. The experience has been very demanding, but very rewarding!</p>

<p>If you are thinking of adopting a dog, I would encourage you to head over to <a
        href="http://www.greyhounds2.org/">Adopt a Greyhound Atlanta</a> and meet some Greyhounds. They are such
    a special breed!</p>