<section>
    <h2>Who is Aiken?</h2>

    <div class="float-image">
        <img class="img-thumbnail" src="assets/aiken.jpg" alt="Aiken" width="320" height="200">
    </div>
    <p>
        Aiken is my completely awesome Greyhound! He is a retired racer, who came from Jacksonville, Florida. He has no
        race history, as far as I can tell. I believe this means that he "washed out" prior to participating in any
        races. I think this is probably a blessing for him. I adopted him in February of 2013 from the good folks at <a
            href="http://www.greyhounds2.org/">Adopt a Greyhound Atlanta</a>. He definitely had some adjusting to do
        after coming here from the track, but now he is happy, healthy, and a beloved member of my family!
    </p>
</section>

<section>
    <h2>Adopting</h2>

    <p>
        I decided (somewhat abruptly, in fact) that I wanted to get a dog. Growing up, a dog was always part of the
        family. After living on my own for about 5 years, I thought it would be nice to have some other form of life
        around the apartment. Having decided that, I just needed to pick a breed and find a dog... As with most
        decisions in my life, I began my dog search with Google. A search for good apartment dogs led me to a number of
        surprises, including Greyhounds. I always assumed they were high energy dogs. They are bred for running, after
        all. In truth, Greyhounds are bred for <em>sprinting</em>, which is an important distinction. They are prone to
        short bursts of energy followed by hours (many hours...) of lounging. I was looking for a dog that was quiet,
        low maintenance, and gentle. Greyhounds seemed to fit the bill nicely, so I thought it worth meeting some. I
        started searching for a local rescue organization and found <a href="http://www.greyhounds2.org/">Adopt a
        Greyhound Atlanta</a>. I called them up and headed over to meet some Greyhounds. The dogs met me at the door,
        and I fell in love with the breed immediately. First, I was struck by the dog's build. The are tall, thin, and
        long. Just one look and you can tell these dogs were born to run. They looked so different from the breeds I was
        used to seeing. They are beautiful animals, but what really sucked me in was their eyes. They have such big,
        expressive eyes. I found it impossible to resist their gentle nature and sweet faces. I met a few different
        dogs, but Aiken and I took to one another quickly. Since I like alone and work full time, I simply can't deal
        with a dog that requires constant attention. He was just the right balance of care and indifference, so I took
        him home!
    </p>

    <p>
        Having a dog around has been quite a change for me, and an even bigger change for him, I suspect. He seems to
        have adjusted to being a house pet pretty quickly, but it hasn't been without it's challenges. While I grew up
        with dogs around, it is a different story when you are the sole caretaker. I read up on Greyhound ownership to
        try and help me cope with the changes. There were many challenges that I was expecting, and a few that I wasn't.
        All in all, the experience has been very demanding, but very rewarding!
    </p>
</section>

<section>
    <h2>Adopt-a-Greyhound Atlanta</h2>

    <p>If you are thinking of adopting a dog, I would encourage you to consider a Greyhound head over to <a
            href="http://www.greyhounds2.org/">Adopt a Greyhound Atlanta</a> to meet some. They are such a special
        breed! Carl will take good care of you! :)</p>
</section>