<p>
    Looking for something to read? Here are the latest excerpts from my blog. Click the links to read the full article,
    or you can just head over to <a href="http://blog.kevinburdett.com">my blog</a> directly.
</p>

<div>
    <div class="blog-article" ng-repeat="post in wordPressPosts.posts">
        <h4>
            <span ng-bind-html="post.title"></span>
            <small>{{post.date | date: 'MM/dd/yyyy HH:mm'}}</small>
        </h4>
        <p ng-bind-html="post.excerpt"></p>
    </div>
</div>