<h2>Coding</h2>

<p>So what am I up to? I can't share my work, but I can share my hobbies! Here's a little about the things I code</p>

<div class="media">
    <div class="pull-left media-badge">
        <a href="http://www.projecteuler.com">
            <img class="media-object" src="http://projecteuler.net/profile/kburdett.png" width="200" height="60"
                 alt="Project Euler Badge">
        </a>
    </div>
    <div class="media-body">
        <h4>Project Euler</h4>
        Project Euler presents a series of programming challenges, largely math-based, for users to solve. Since
        the majority of my work consists of planning and design, it is refreshing to do some good old fashioned
        programming :) Most of the Project Euler problems require little or no design, so I get to spend some
        time devoted solely to the crafting and optimization of targeted algorithms. I really enjoy working on
        micro-optimizations and algorithmic improvements. It is a nice change of pace from designing complicated
        data structures and reviewing customer requirements.
    </div>
</div>

<div class="media">
    <div class="pull-left media-badge">
        <iframe src="https://githubbadge.appspot.com/kburdett?s=1&a=0"
                style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
    </div>
    <div class="media-body">
        <h4>GitHub</h4>
        GitHub is the modern home for open source software. Having worked with Git as a source control provider
        for a while now, I am a huge fan. GitHub provides free hosting to any project (including this page), as
        long as it is public. I don't have much here (currently) but I am trying to get more involved with the
        open source community. For now, this badge will merely serve as motivation.
    </div>
</div>