<p>I have begrudgingly created various social media profiles. Look me up if you want to connect, but I won't
    promise a prompt response :)</p>

<div class="social-links">
    <a href="http://www.linkedin.com/in/kevinburdett">
        <div class="media">
            <div class="media-social-logo pull-left">
                <img class="media-object" src="img/linkedin.png" width="30" height="30" alt="LinkedIn Logo">
            </div>
            <div class="media-body">View my LinkedIn&reg; profile</div>
        </div>
    </a>
    <a href="https://www.facebook.com/kevin.burdett">
        <div class="media">
            <div class="media-social-logo pull-left">
                <img class="media-object" src="img/facebook.png" width="30" height="30" alt="Facebook Logo">
            </div>
            <div class="media-body">View my Facebook profile</div>
        </div>
    </a>
    <a href="https://plus.google.com/u/0/101490695900104362555/about">
        <div class="media">
            <div class="media-social-logo pull-left">
                <img class="media-object" src="img/g+.png" width="30" height="30" alt="Google+ Logo">
            </div>
            <div class="media-body">View my Google+ profile</div>
        </div>
    </a>
    <a href="https://twitter.com/KevinBurdett">
        <div class="media">
            <div class="media-social-logo pull-left">
                <img class="media-object" src="img/twitter.png" width="30" height="30" alt="Twitter Logo">
            </div>
            <div class="media-body">@KevinBurdett on Twitter</div>
        </div>
    </a>
</div>