---
layout: page
title: Blog
permalink: /blog/
command: ls -lnp
---


{% for post in site.posts %}

<article class="blog-post-summary">
    <header>
        <h3 class="show-for-medium">{{ post.title }}</h3>
        <h5 class="show-for-small-only"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
    </header>

    <div class="row medium-unstack">
        <div class="columns medium-8 large-9 show-for-medium">
            {{ post.excerpt }}
        </div>
        <div class="columns medium-4 large-3">
            <div class="meta">
                <div class="head">on <span class="float-right">//</span></div>
                <div class="body">
                    <time pubdate="pubdate" datetime="{{ post.date }}">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </time>
                </div>
            </div>
            <div class="meta">
                <div class="head">in <span class="float-right">//</span></div>
                <div class="body">
                    {{ post.category }}
                </div>
            </div>
            <div class="meta">
                <div class="head">tags <span class="float-right">//</span></div>
                <div class="body">
                    <ul>
                        {% for tag in post.tags %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row show-for-medium">
        <a href="{{ post.url | prepend: site.baseurl }}">Read the rest...</a>
    </div>
</article>

{% endfor %}
