---
layout: page
title: Blog
permalink: /blog/
---


{% for post in site.posts %}

<article class="blog-post-summary">
    <header>
        <h3>{{ post.title }}</h3>
    </header>

    <div class="row medium-unstack">
        <div class="columns small-order-1 medium-8 large-9">
            {{ post.excerpt }}
            <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
        </div>
        <div class="columns small-order-2 medium-4 large-3">
            <div class="meta">
                <div class="head">on <span class="float-right">//</span></div>
                <div class="body">
                    <time pubdate="pubdate" datetime="{{ post.date }}">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </time>
                </div>
            </div>
            <div class="meta">
                <div class="head">in <span class="float-right">//</span></div>
                <div class="body">
                    {{ post.category }}
                </div>
            </div>
            <div class="meta">
                <div class="head">tags <span class="float-right">//</span></div>
                <div class="body">
                    <ul>
                        {% for tag in post.tags %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

{% endfor %}
