.container {
  h1 {
    padding-bottom: 0.5em;
  }
  section {
    padding-bottom: 3em;
  }
}

footer {
  background-color: #f0f0f0;
  padding-top: 10px;
}

.media-social {
  padding-bottom: 5px;

  .media-social-logo {
    width: 35px;
    height: 35px;
  }

  .media-body {
    padding-top: 5px;
  }
}

.media-badge {
  padding-top: 15px;
}

#aiken-portrait {
  padding-left: 10px;
  padding-bottom: 10px;
  float: right;

  @media (max-width: 480px) {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 10px;
    display: block;
    float: none;
    text-align: center;
  }
}
