<div id="footer">
    <div class="row medium-unstack">

        <div class="columns small-6 medium-2">
            <strong>Navigation</strong>
            <ul>
                {% for page in site.pages %}
                {% if page.title %}
                <li><a class="item" href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="columns small-6 medium-2">
            <strong>Connect</strong>
            <ul>
                <li>
                    <a href="https://github.com/kburdett">
                        <i class="fi-social-github"></i>&nbsp;GitHub
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kevinburdett">
                        <i class="fi-social-linkedin"></i>&nbsp;LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/101490695900104362555/about" class="item">
                        <i class="fi-social-google-plus"></i>&nbsp;Google+
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/KevinBurdett" class="item">
                        <i class="fi-social-twitter"></i>&nbsp;Twitter
                    </a>
                </li>
            </ul>
        </div>

        <div class="columns medium-8">
            <h3>{{ site.title }}</h3>
            <p>{{ site.description }}</p>
            <div>
                <span>subscribe <a href="/feed.xml">via RSS <i class="fi-rss"></i></a></span>
            </div>
        </div>

    </div>
</div>
