#content {
  margin: 2em;
}

@media screen and (max-width: 39.9375em) {
  #content {
    margin-left: 0;
    margin-right: 0;
  }
}

// we need to override a few Foundation 6 styles for Rouge syntax highlighting to look correct
figure.highlight {
  box-sizing: content-box;
  font-size: 1rem !important;

  code {
    padding: 0;
    border: none !important;
  }

  table tbody {
    border: none !important;
  }
}
